**Customers & Orders**

*How many unique customers are in the dataset?*

In [8]:
import pandas as pd

In [10]:
customers = pd.read_csv(r'C:\Users\vrssv\Desktop\Project (Mine)\Chatgpt\Customers.csv')

In [26]:
customers.head()

   CustomerID        Name Location      Segment
0        1001  Customer_0     East  Home Office
1        1002  Customer_1     West  Home Office
2        1003  Customer_2    North     Consumer
3        1004  Customer_3     East     Consumer
4        1005  Customer_4     East    Corporate

In [28]:
unique_customers_count = customers['CustomerID'].nunique()
unique_customers_count

200

*Which customer made the highest total purchase (SalesAmount)?*

In [31]:
orders = pd.read_csv(r'C:\Users\vrssv\Desktop\Project (Mine)\Chatgpt\Orders.csv')

In [33]:
orders.head()

   OrderID  CustomerID   OrderDate  ProductID  Quantity  SalesAmount
0     2001        1035  2023-02-16        539         2       412.64
1     2002        1081  2023-10-15        540         3       986.34
2     2003        1090  2023-09-23        517         3       742.80
3     2004        1008  2023-01-16        537         9      4241.79
4     2005        1093  2023-07-18        539         7      1444.24

In [37]:
top_customer = orders.groupby('CustomerID')['SalesAmount'].sum().idxmax() #
top_customer_total = orders.groupby('CustomerID')['SalesAmount'].sum().max()
top_customer_name = customers.loc[customers['CustomerID'] == top_customer, 'Name'].values[0]

In [39]:
top_customer

1109

In [41]:
top_customer_name

'Customer_108'

In [43]:
top_customer_total

19874.17

*What is the average order quantity per product category?*

In [45]:
products = pd.read_csv(r'C:\Users\vrssv\Desktop\Project (Mine)\Chatgpt\Products.csv')

In [47]:
products.head()

   ProductID         Category  Subcategory   Price
0        501        Furniture  Accessories  336.89
1        502  Office Supplies       Phones  154.37
2        503        Furniture  Accessories  478.34
3        504       Technology      Binders  374.19
4        505       Technology      Binders  286.09

In [50]:
order_with_category = orders.merge(products[['ProductID','Category']], on='ProductID')
avg_quantity_per_category = order_with_category.groupby('Category')['Quantity'].mean().round(2)
avg_quantity_per_category

Category
Furniture          5.04
Office Supplies    4.72
Technology         5.08
Name: Quantity, dtype: float64

These values indicate that Technology products have the highest average quantity per order, closely followed by Furniture

**Which region has the most customers?**

In [56]:
customer_by_region = customers['Location'].value_counts()
top_region = customer_by_region.idxmax()
top_region_count = customer_by_region.max()

In [58]:
top_region

'East'

In [60]:
top_region_count

54

The region with the most customers is East, with 54 customers